<VirtualHost *:*>
    ProxyPreserveHost Off

    # Servers to proxy the connection, or;
    # List of application servers:

    ProxyPass        / http://{{reverse_proxy_ip}}:{{http_port}}/
    ProxyPassReverse / http://{{reverse_proxy_ip}}:{{http_port}}/

    ServerName  dev.mageiacreaciones.com
    ServerAlias test.mageiacreaciones.com  mageiacreaciones.com

    ErrorLog  /var/log/httpd/{{domain}}.error.log
    CustomLog /var/log/httpd/{{domain}}.access.log common

</VirtualHost>
